* {
	margin: 0;
	box-sizing: border-box;
  }
  
  #container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 50px 50px auto 50px 50px;
	width: 100%;
	height: 100vh;
  }
  
  
  #item1 {
	grid-column: 1 / 4;
	background-color: #F16B08;
  }
  
  
  #item2 {
	grid-column: 1;
	grid-row: 2 / 5;
	background-color: #B2F109;
  }
  
  
  #item5 {
	grid-column: 2 / 4;
	grid-row: 2;
	background-color: #FBB5E9;
  }
  
  
  #item6 {
	grid-column: 2;
	grid-row: 3;
	background-color: #0AF1AD;
  }
  
  
  #item7 {
	grid-column: 3;
	grid-row: 2 / 5;
	background-color: #E8F571;
  }
  
  
  #item3 {
	grid-column: 1 / 4;
	grid-row: 4;
	background-color: #23F109;
  }
  
  
  #item8 {
	grid-column: 3;
	grid-row: 4 / 6; 
	background-color: #31838F;
  }
  
  
  #item4 {
	grid-column: 1 / 4;
	grid-row: 5;
	background-color: #3050F0;
  }
  
  #container > div {
	padding: 4px;
  }
  
