
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4; 
  font-family: Arial, sans-serif;
}



#header {
  background-color: #d3d3d3; 
  padding: 10px 0;
  position: relative;
  text-align: center;
}


#header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

#header nav a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

#header nav a:hover {
  text-decoration: underline;
}


.nav-button-open {
  display: none;
}



@media (max-width: 980px) {
  #header {
      background-color: #d3d3d3;
      padding: 10px 0;
  }

  
  .nav-button-open {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
  }

  .nav-button-open img {
      width: 45px;
      height: auto;
  }

  
  #header nav {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    background-color: #444;
}


#header:target nav {
    max-height: 1000px;  
}


  #header nav ul {
      flex-direction: column;
      padding: 10px 0;
  }

  #header nav li {
      padding: 10px 20px;
  }

  #header nav a {
      color: white; 
      font-size: 18px;
  }

  
  

  
  #header:target .nav-button-open {
      display: none;
  }
}



.content {
  padding: 40px;
  text-align: center;
}

.content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

