body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}


.zone {
  position: relative;
  width: 400px;
  height: 250px;
  overflow: hidden;
}


.zone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.rideau {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;          
  transform: translateX(0);   
  transition: transform 1s ease-in-out;
}


.zone:hover .rideau {
  transform: translateX(-100%);
}

