body {
  font-family: 'Montserrat', sans-serif;
  background: #3b3b3b;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: #fff;
}

.sheet {
  width: 1180px;
}

.block-title {
  background: #c40038;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-title h2 {
  margin: 0 auto;
}

.display-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-right: 65px; 
}

.display-boxes .display-box:first-child {
  width: 600px; 
}

.display-boxes .display-box:last-child {
  width: 250px; 
}

.display-box {
  border: 2px dashed #fff;
  padding: 8px 15px;
}



.flex-table, .items-table {
  width: 100%;
  border: 3px solid #fff;
  border-collapse: collapse;
  background: #ececec;
  color: #000;

  border: 2px solid #000; 
  margin-top: 15px;        
  margin-bottom: 20px;     
  box-sizing: border-box;  
}

.flex-table thead th {
  background: #aa002e;
  color: #fff;
  padding: 10px;
  border: 2px solid #000;
}

.flex-table td, .items-table td, .items-table th {
  border: 2px solid #000;
  padding: 12px;
  text-align: center;
}

.green {
  color: #1CA3A0;
  font-weight: 700;
}

.sub-title {
  background: #c40038;
  color: #fff;
  font-weight: 700;
}

.block-title.child {
  margin-top: 15px;
}

.items-zone {
  border: 2px dashed #fff;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  gap: 40px;
  padding: 20px 40px; 
  background: transparent;
}


.item {
  background: #fff;
  padding: 16px 45px;
  border-radius: 4px;
  color: #c40038;
  font-weight: 700;
  font-size: 22px;
  border: 3px solid transparent; 
}

.items-table th {
  background: #c40038;
  color: #fff;
  font-weight: 700;
}

.items-table td {
  background: #e7ebeb;
  color: #c40038;
  font-weight: 700;
}

.items-table span.green {
  color: #1CA3A0;
  font-weight: 700;
}

.big-cell {
  text-align: center;
}


.items-table .flex-shrink-row td:first-of-type {
  border-right: 1px solid #000;
}

.items-table .big-cell {
  border-left: none;  
  text-align: center;
}
.items-table .big-cell {
  padding-left: 0;
  padding-right: 20px;
}

.red {
  color: #c40038;
  font-weight: 700;
}

body {
  background: #3b3b3b; 
}

.sheet {
  width: 1180px;
  margin: 0 auto;
  padding: 20px 0;
}

.section-block {
  background: #ececec;      
  margin-bottom: 25px;      
}

.commentaire {
  background: #222;
  margin-top: 20px;
  padding: 20px;
  border-left: 5px solid #c40038;
}

html, body {
  height: auto !important;
  min-height: 100% !important;
}

